# Vagrant-filer (innehåller lokala tillstånd och privata nycklar)
.vagrant/

# SSH-nycklar och delade hemligheter
shared_keys/
*.pub
*.key
id_ed25519*

# Secrets
secrets.yml

# Editor & System
.vscode/
.DS_Store
Thumbs.db

#virtualenvirement
venv/

