# Vagrant internfiler
vagrant/.vagrant/

# Secrets — aldrig i Git
vagrant/secrets.yml
ansible/vars/secrets.yml

# Editorfiler
.vscode/
*.swp

# Python cache (om Flask-kod finns i repot)
__pycache__/
*.pyc
.vagrant/

