from flask import Flask, redirect, session, url_for, request, render_template_string
import requests

app = Flask(__name__)
app.secret_key = "{{ flask_secret_key }}"

KEYCLOAK_BASE_URL = "http://192.168.20.10:8080"
KEYCLOAK_REALM = "lab"
KEYCLOAK_CLIENT_ID = "webapp"
REDIRECT_URI = "http://192.168.20.30/auth/callback"

home_page = """
{% raw %}
<!DOCTYPE html>
<html>
<head>
    <title>Webserver</title>
</head>
<body>
    <h1>Webserver i DMZ</h1>

    {% if user %}
        <p>Inloggad som {{ user }}</p>

        <a href="/dashboard">Gå till dashboard</a>
        <br><br>

        <a href="/logout">Logga ut</a>

    {% else %}
        <p>Du är inte inloggad.</p>

        <a href="/login">Logga in med Keycloak</a>
    {% endif %}

</body>
</html>
{% endraw %}
"""

dashboard_page = """
{% raw %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
</head>
<body>

    <h1>Dashboard</h1>

    <p>Inloggad som {{ user }}</p>

    <p>Data från databasen: {{ message }}</p>

    <a href="/logout">Logga ut</a>

</body>
</html>
{% endraw %}
"""

@app.route("/")
def home():
    user = session.get("user")
    return render_template_string(home_page, user=user)

@app.route("/login")
def login():
    keycloak_url = (
        "http://192.168.20.10:8080/realms/lab/protocol/openid-connect/auth"
        "?client_id=webapp"
        "&response_type=code"
        "&redirect_uri=http://192.168.20.30/auth/callback"
    )

    return redirect(keycloak_url)

@app.route("/auth/callback")
def callback():
    code = request.args.get("code")

    token_url = (
        f"{KEYCLOAK_BASE_URL}/realms/{KEYCLOAK_REALM}"
        "/protocol/openid-connect/token"
    )

    response = requests.post(
        token_url,
        data={
            "grant_type": "authorization_code",
            "client_id": KEYCLOAK_CLIENT_ID,
            "code": code,
            "redirect_uri": REDIRECT_URI,
        },
    )

    token_data = response.json()

    session["token"] = token_data.get("access_token")
    session["user"] = "student"

    return redirect(url_for("dashboard"))

@app.route("/dashboard")
def dashboard():
    if "user" not in session:
        return redirect(url_for("login"))

    message = "Hej från databasen"

    return render_template_string(
        dashboard_page,
        user=session["user"],
        message=message
    )

@app.route("/logout")
def logout():
    session.clear()
    return redirect(url_for("home"))

@app.route("/health")
def health():
    return {"status": "ok"}

if __name__ == "__main__":
    app.run(host="{{ flask_host }}", port={{ flask_port }})
    